<div class="h-100 w-100">
  <div class="app-view__title py-3 px-2">About us</div>
  <mat-card
    class="mat-elevation-z8 d-flex flex-column px-0 overflow-auto"
    style="height: calc(100% - 70px)"
  >
    <!-- Body -->
    <div class="d-flex flex-column justify-content-between">
      <div class="text-center my-4 header">Sportiverse Team</div>
    </div>

    <div class="d-flex justify-content-center col-12 my-3">
      <!-- MeSlav -->
      <div class="col-5 item-border mx-3">
        <div class="d-flex justify-content-between mx-3 my-2 p-3">
          <div class="profile-img"></div>
          <div>
            <h2 class="text-end uline">Mislav Kordić</h2>
            <h3 class="text-end">Misa, programer (24) <br> pare nisu problem, trazim curu</h3>
            <h4 class="text-end">Izvor flustracije</h4>
          </div>
        </div>
      </div>
      <!-- Mate -->
      <div class="col-5 item-border mx-3">
        <div class="d-flex justify-content-between mx-3 my-2 p-3">
          <div>
            <h2 class="uline">Matej Rezo</h2>
            <h3>3. Godina studija Informatike, FPMOZ</h3>
            <h4>uzrok flustracije</h4>
          </div>
          <div class="profile-img"></div>
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-center flex-column">
        <div class="text-center">
          <h2>Tehnologije koje smo koristili:</h2>
        </div>
        <div class="text-center">
          <img
            class="tehnology-img rounded-circle mx-3"
            src="/assets/angular.png"
            alt="image"
          />
          <img
            class="tehnology-img rounded-circle mx-3"
            src="/assets/typescript.png"
            alt="image"
          />
          <img
            class="tehnology-img rounded-circle mx-3"
            src="/assets/dotnet.png"
            alt="image"
          />
          <img
            class="tehnology-img rounded-circle mx-3"
            src="/assets/bootstrap.png"
            alt="image"
          />
        </div>
      </div>
      <div class="my-2 text-center">
        <a
          href="https://docs.google.com/document/d/1_pX2HlVjjNqkBafzbx5lr9DiNFLTCDZEc6PxGhvApcg/mobilebasic"
        >
          Link vizije
        </a>
      </div>
    </div>
  </mat-card>
</div>
