.login-layout {
    background-image: url('../../../../../assets/pexels-johannes-plenio-1103970.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    user-select: none;
}
